<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Followers<span *ngIf="user"> of {{user}}</span></ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="loading" (click)="refreshFollowers()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #followersContent class="followers-page">
  <div text-center margin-top *ngIf="followers.length <= 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Followers
    </div>
  </div>
  <ion-list *ngIf="followers.length > 0">
    <div *ngFor="let user of followers">
      <user-info [user]="user"></user-info>
    </div>
  </ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
