<ion-card (click)="openRepository()">
  <ion-card-header class="sound-click layout flex between">
    <span>
      <ion-icon *ngIf="repo.isFork" [innerHTML]="octicon.get('repo-forked')"></ion-icon>
      <ion-icon *ngIf="repo.isPrivate" [innerHTML]="octicon.get('lock')"></ion-icon>
      {{repo.owner.login}}/
      {{repo.name}}
    </span>
    <span>{{repo.stargazers.totalCount}} <ion-icon name="star"></ion-icon></span>
  </ion-card-header>
  <ion-card-content *ngIf="descriptionHTML" class="sound-click" [innerHTML]="descriptionHTML"></ion-card-content>
</ion-card>