<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Issue <span *ngIf="issue"># {{issue.number}}</span></ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="loading" (click)="getIssue()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="issue-page">
  <div text-center margin-top *ngIf="!issue">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Issues
    </div>
  </div>
  <div *ngIf="issue" class="card">
    <div margin>
      <h2 class="sound-click layout flex between">
        {{issue.title}}
      </h2>
      <p class="sound-click" *ngIf="issue.user">
        {{issue.user.login}} opened this issue {{timeFromNow(issue.created_at)}}
      </p>
    </div>
    <ion-card *ngIf="issue.body_html">
      <ion-item *ngIf="issue.user">
        <ion-avatar item-left>
          <ion-img [src]="'https://avatars.githubusercontent.com/u/' + issue.user.id + '?s=50'"></ion-img>
        </ion-avatar>
        <p class="layout-notoverflow">
          {{issue.user.login}} commented {{timeFromNow(issue.created_at)}}
        </p>
      </ion-item>
      <ion-card-content [innerHTML]="issue.body_html"></ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="comments">
    <div *ngIf="comments.length > 0">
      <ion-card *ngFor="let comment of comments">
        <ion-item>
          <ion-avatar item-left>
            <ion-img [src]="'https://avatars.githubusercontent.com/u/' + comment.user.id + '?s=50'"></ion-img>
          </ion-avatar>
          <p class="layout-notoverflow">
            {{comment.user.login}} commented {{timeFromNow(comment.created_at)}}
          </p>
        </ion-item>
        <ion-card-content [innerHTML]="comment.body_html"></ion-card-content>
      </ion-card>
    </div>
    <ion-card *ngIf="comments.length === 0 && !issue.body_html">
      <ion-card-content>
        No Comments
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="octokat.user">
      <ion-item *ngIf="octokat.userData">
        <ion-avatar item-left>
          <ion-img [src]="'https://avatars.githubusercontent.com/u/' + octokat.userData.id + '?s=50'"></ion-img>
        </ion-avatar>
        <h2>Write</h2>
      </ion-item>
      <ion-item class="textarea">
        <textarea
          [disabled]="loading"
          [(ngModel)]="issuecomment"
          (ngModelChange)="expandTextArea()"
          placeholder="Leave a comment"
          [rows]="textarearows"
        ></textarea>
      </ion-item>
      <button
        margin-bottom
        margin-left
        ion-button
        color="primary"
        [disabled]="loading || !issuecomment"
        (click)="commentIssue()"
      >Comment
      </button>
    </ion-card>
  </div>
</ion-content>
