<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span *ngIf="loggedIn">News Feed</span>
      <span *ngIf="!loggedIn">Login</span>
    </ion-title>
    <ion-buttons end *ngIf="loggedIn">
      <button ion-button [disabled]="loading" (click)="refreshEvents(true)">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button (click)="openSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #homeContent class="home-page">
  <div *ngIf="!loggedIn" padding text-center>
    <div *ngIf="loading" margin-top>
      <ion-icon name="github"></ion-icon>
      <span *ngIf="message">{{message}}</span>
    </div>
    <div *ngIf="!loading">
      <div margin class="error-message" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <div *ngIf="!acceptcode">
        <ion-list>
          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input
              id="username"
              name="username"
              type="text"
              [disabled]="waiting"
              [(ngModel)]="username"
              (keypress)="checkEnter($event)"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input
              id="password"
              name="password"
              type="password"
              [disabled]="waiting"
              [(ngModel)]="password"
              (keypress)="checkEnter($event)"
            ></ion-input>
          </ion-item>
          <button ion-button block margin-vertical [disabled]="waiting" (click)="login()">Login</button>
        </ion-list>
      </div>
      <div *ngIf="acceptcode">
        <ion-list>
          <ion-item>
            <ion-label floating>Two Factor Code</ion-label>
            <ion-input
              id="twofactor"
              name="twofactor"
              type="text"
              [disabled]="waiting"
              [(ngModel)]="twofactor"
              (keypress)="checkEnter($event)"
            ></ion-input>
          </ion-item>
          <button ion-button block margin-vertical [disabled]="waiting" (click)="login()">Verify Code</button>
        </ion-list>
      </div>
    </div>
  </div>
  <div *ngIf="loggedIn">
    <div text-center margin-top *ngIf="received_events.length <= 0">
      <div *ngIf="loading">
        Loading...
      </div>
      <div *ngIf="!loading">
        No Events
      </div>
    </div>
    <ion-list *ngIf="received_events.length > 0">
      <ion-card class="event" *ngFor="let event of received_events">
        <ion-item *ngIf="event.actor">
          <ion-avatar item-left (click)="openUser(event.actor)">
            <img [src]="'https://avatars.githubusercontent.com/u/' + event.actor.id + '?s=50'">
          </ion-avatar>
          <h2 (click)="openUser(event.actor)">{{event.actor.login}}</h2>
          <p (click)="openRepo(event.repo)">{{event.repo.name}}</p>
        </ion-item>
        <ion-card-content class="sound-click" (click)="openEvent(event)">
          {{event.text}}
        </ion-card-content>
      </ion-card>
    </ion-list>

     <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
       <ion-infinite-scroll-content></ion-infinite-scroll-content>
     </ion-infinite-scroll>
    </div>
</ion-content>
