html, body, .page {
  width:100%;
  height: 100%;
}
/* page specific animations ------------------------ */
.page.ng-leave        {
    z-index: 0;
    -webkit-animation:fadeOut 1s both ease-in;
    width: 0;
    height: 0;
}
.page.ng-enter        {
    z-index: 100;
    -webkit-animation:fadeIn 1s both ease-in;
}

@-webkit-keyframes fadeIn {
    from    {
              -webkit-transform: translateY(100%);
            }
    to      {
                -webkit-transform: translateY(0);
            }
}

/* slide in from the bottom */
@-webkit-keyframes fadeOut {
    20% {display: none;}
}