<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gists<span *ngIf="user && user !== 'user'"> of {{user.substr(7)}}</span></ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="loading" (click)="refreshGists()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #gistsContent class="gists-page">
  <div text-center margin-top *ngIf="gists.length <= 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Gists
    </div>
  </div>
  <ion-list *ngIf="gists.length > 0">
    <ion-card
      class="gist"
      *ngFor="let gist of gists"
      (click)="openGist(gist)"
    >
      <ion-card-header class="sound-click layout-notoverflow">
        gist: {{gist.id}}
      </ion-card-header>
      <ion-card-content class="sound-click">
        {{gist.description}}
      </ion-card-content>
    </ion-card>
  </ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
