<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="repo">Milestones - {{repo}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card padding text-center *ngIf="milestones.length == 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Milestones
    </div>
  </ion-card>
  <div *ngIf="milestones.length > 0">
    <ion-card *ngFor="let milestone of milestones">
      <ion-card-header *ngIf="milestone.title">
        <h1 (click)="openMilestonePage(milestone)">
          {{milestone.title}}
        </h1>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="milestone.description" class="milestone-description">
          <span>{{milestone.description}}</span>
        </div>
        <div class="milestone-progress">
          <span class="progress-bar">
            <span class="progress" [style.width]="getPercentageComplete(milestone)">&nbsp;</span>
          </span>
          <div class="stats">
            <div class="stat">
              <span class="progress-percent">{{getPercentageComplete(milestone)}}</span>
              <span class="stat-label">complete</span>
            </div>
            <div class="stat">
              <a>
                {{milestone.open_issues}}
                <span class="stat-label">open</span>
              </a>
            </div>
            <div class="stat">
              <a>
                {{milestone.closed_issues}}
                <span class="stat-label">closed</span>
              </a>
            </div>
          </div>
        </div>
        <div class="milestone-dates">
          <div *ngIf="milestone.state === 'closed'" class="milestone-date">
            <span *ngIf="milestone.closed_at">
              <span class="dark-color">Closed</span> on {{timeFromNow(milestone.closed_at)}}
            </span>
          </div>
          <div *ngIf="milestone.state === 'open'" class="milestone-date">
            <span *ngIf="milestone.due_on">
              {{timeFromNow(milestone.due_on)}}
            </span>
            <span *ngIf="!milestone.due_on">
              No Due Date
            </span>
          </div>
          <div class="milestone-date">
            <span *ngIf="milestone.updated_at">
              <ion-icon name="clock"></ion-icon>
              Last updated {{timeFromNow(milestone.updated_at)}}
            </span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
