<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Starred Repos<span *ngIf="user"> of {{user}}</span></ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="loading" (click)="refreshStarredRepos()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #reposContent class="repos-page">
  <div text-center margin-top *ngIf="starredRepos.length <= 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Repos
    </div>
  </div>
  <ion-list *ngIf="starredRepos.length > 0">
    <repo-info [repo]="repo" *ngFor="let repo of starredRepos"></repo-info>
  </ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
