<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Starred Repos<span *ngIf="user && user !== 'user'"> of {{user.substr(6)}}</span></ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="loading" (click)="getStarred()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #starredContent class="starred-page">
  <div text-center margin-top *ngIf="starred.length <= 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Starred
    </div>
  </div>
  <ion-list *ngIf="starred.length > 0">
    <ion-card
      class="notification"
      *ngFor="let repo of starred"
      (click)="openRepository(repo)"
    >
      <ion-card-header class="sound-click layout flex between">
        <span>{{repo.full_name}}</span>
        <span>{{repo.stargazers_count}} <ion-icon name="star"></ion-icon></span>
      </ion-card-header>
      <ion-card-content class="sound-click">
        {{repo.description}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
