<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center class="login-page">
  <div *ngIf="loading" margin-top>
    <ion-icon name="github"></ion-icon>
    <span *ngIf="message">{{message}}</span>
  </div>
  <div *ngIf="!loading">
    <div margin class="error-message" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
    <div *ngIf="!acceptcode">
      <ion-list>
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input
            id="username"
            name="username"
            type="text"
            [disabled]="waiting"
            [(ngModel)]="username"
            (keypress)="checkEnter($event)"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input
            id="password"
            name="password"
            type="password"
            [disabled]="waiting"
            [(ngModel)]="password"
            (keypress)="checkEnter($event)"
          ></ion-input>
        </ion-item>
        <button ion-button block margin-vertical [disabled]="waiting" (click)="login()">Login</button>
      </ion-list>
    </div>
    <div *ngIf="acceptcode">
      <ion-list>
        <ion-item>
          <ion-label floating>Two Factor Code</ion-label>
          <ion-input
            id="twofactor"
            name="twofactor"
            type="text"
            [disabled]="waiting"
            [(ngModel)]="twofactor"
            (keypress)="checkEnter($event)"
          ></ion-input>
        </ion-item>
        <button ion-button block margin-vertical [disabled]="waiting" (click)="login()">Verify Code</button>
      </ion-list>
    </div>
  </div>
</ion-content>
