project-page {
  .scroll-content {
    margin-top: 56px;
  }

  ion-slide.swiper-slide {
    align-items: flex-start;
    background-color: #fff;
  }

  .column-card {
    background-color: #FAFAFA;
    .column-card-header {
      font-weight: bold;
      text-align: left;
      border-bottom: 1px #e5e5e5 solid;
      ion-chip {
        font-weight: bold;
      }
    }

    .column-card-content {
      padding: 0;
      overflow-y: auto;
      height: 70vh;
    }
    
    .edit-buttons {
      float: right;
    }

  }

  .note-card {
    background: #fff;
    text-align: left;

    ion-card-content {
      color: #999;
      a {
        color: #333;
      }
    }

    ion-icon {
      display: inline-block;
      width: 24px;
      &[name="more"] {
        float: right;
      }
    }
  }
}
