<ion-header>

  <ion-navbar>
    <ion-title><span *ngIf="project">{{project.name}}</span> | {{username}}/{{reponame}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="project">
  <ion-slides #projectSlider [options]="projectSlideOptions" *ngIf="project.columns.totalCount > 0">
    <ion-slide *ngFor="let column of project.columns.edges">
      <ion-card class="column-card">
        <ion-card-header class="column-card-header">
          <span>{{column.node.name}}</span>
          <ion-chip>
            <ion-label>{{column.node.cards.totalCount}}</ion-label>
          </ion-chip>
        </ion-card-header>
        <ion-card-content class="column-card-content">
          <div *ngFor="let card of column.node.cards.edges">
            <ion-card *ngIf="card.node.note" class="note-card">
              <ion-card-header class="layout-notoverflow">
                <ion-icon item-left class="octicon" [innerHTML]="octicon.get('note')"></ion-icon>
                <span [innerHTML]="card.node.note"></span>
              </ion-card-header>
              <ion-card-content>
                <span>Added</span>
                <span *ngIf="card.node.creator">by 
                  <a (click)="openUser(card.node.creator)">{{card.node.creator.login}}</a>
                </span>
                <span>{{timeFromNow(card.node.createdAt)}}</span>
              </ion-card-content>
            </ion-card>
            <issue-card *ngIf="card.node.content" [issue]="card.node.content"></issue-card>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div text-center *ngIf="project.columns.totalCount == 0">
    <h2>This project doesn't have any columns or cards</h2>
  </div>
</ion-content>
