<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Repos<span *ngIf="user"> of {{user}}</span></ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="loading" (click)="refreshRepos()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #reposContent class="repos-page">
  <div text-center margin-top *ngIf="repos.length <= 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Repos
    </div>
  </div>
  <ion-list *ngIf="repos.length > 0">
    <ion-card
      class="repo"
      *ngFor="let repo of repos"
      (click)="openRepository(repo)"
    >
      <ion-card-header class="sound-click layout flex between">
        <span>
          {{repo.owner.login}}/
          {{repo.name}}
        </span>
        <span>{{repo.stargazers.totalCount}} <ion-icon name="star"></ion-icon></span>
      </ion-card-header>
      <ion-card-content *ngIf="repo.descriptionHTML" class="sound-click" [innerHTML]="repo.descriptionHTML"></ion-card-content>
    </ion-card>
  </ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
