<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Projects - {{username}}/{{reponame}}</ion-title>

    <ion-buttons end>
      <button *ngIf="canCreateProjects" ion-button icon-only (click)="createProject()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card padding text-center *ngIf="projects.length == 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No projects
    </div>
  </ion-card>
  <ion-list *ngIf="projects.length > 0">
    <ion-item-sliding *ngFor="let project of projects">
      <button ion-item
        (click)="openProject(project)">
        <h2 class="layout-notoverflow">{{project.name}}</h2>
        <p class="layout-notoverflow">
          <span *ngIf="project.updatedAt">
            Updated {{timeFromNow(project.updatedAt)}}
          </span>
        </p>
        <p>{{project.body}}</p>
      </button>
      <ion-item-options side="right" *ngIf="project.viewerCanEdit">
        <button ion-button color="primary" (click)="editProject(project)">
          <ion-icon name="mail"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" (click)="deleteProject(project)">
          <ion-icon name="mail"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
