<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Repos</ion-title>
    <ion-buttons end>
      <button [disabled]="loading" (click)="refreshRepos($event)">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #reposContent class="repos-page">
  <div text-center margin-top *ngIf="repos.length <= 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Repos
    </div>
  </div>
  <ion-list *ngIf="repos.length > 0">
    <ion-card class="repo" *ngFor="let repo of repos">
      <ion-card-header
        class="sound-click layout flex between"
        (click)="openRepository(repo)"
      >
        <span>{{repo.full_name}}</span>
        <span>{{repo.stargazers_count}} <ion-icon name="star"></ion-icon></span>
      </ion-card-header>
      <ion-card-content class="sound-click">
        {{repo.description}}
      </ion-card-content>
    </ion-card>
  </ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
