<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Issues of {{repo}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="loading" (click)="refreshIssues()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #issuesContent class="issues-page">
  <div text-center margin-top *ngIf="issues.length <= 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Issues
    </div>
  </div>
  <ion-list *ngIf="issues.length > 0">
    <ion-card
      class="issues"
      *ngFor="let issue of issues"
      (click)="openIssue(issue)"
    >
      <ion-card-header class="sound-click layout flex between">
        {{issue.title}}
      </ion-card-header>
      <ion-card-content class="sound-click">
        #{{issue.number}} opened {{timeFromNow(issue.created_at)}} by {{issue.user.login}}
      </ion-card-content>
    </ion-card>
  </ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
