<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Issues · {{repo}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="loading" (click)="refreshIssues()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #issuesContent class="issues-page">
  <ion-searchbar
    [class.hidden]="searchbarhidden"
    #searchbar
    debounce="500"
    autocomplete="off"
    autocorrect="off"
    spellcheck="false"
    (ionInput)="refreshIssues()"
    [(ngModel)]="query"
  ></ion-searchbar>
  <div text-center margin-top *ngIf="issues.length === 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Issues
    </div>
  </div>
  <ion-list class="issues" *ngIf="issues.length > 0">
    <button ion-item
      class="issue"
      *ngFor="let issue of issues"
      (click)="openIssue(issue)"
    >
      <ion-icon [class]="issue.class" item-left *ngIf="issue.icon" [innerHTML]="issue.icon"></ion-icon>
      <h2 class="sound-click layout flex between layout-notoverflow">
        {{issue.title}}
      </h2>
      <p class="sound-click issue-description layout-notoverflow">
        #{{issue.number}} opened {{timeFromNow(issue.created_at)}} by {{issue.user.login}}
      </p>
    </button>
  </ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
