issues-page {
  ion-searchbar {
    @include autohide-search();
  }
  .item-md ion-icon.octicon[item-left] + .item-inner,
  .item-md ion-icon.octicon[item-left] + .item-input {
    margin-left: 4px;
  }
  ion-list.issues,
  [margin-top] {
    margin-top: 60px;
  }
  .issue {
    ion-card-header {
      text-overflow: clip;
      white-space: normal;
    }

    .issue-description {
      @include light-font();
    }
  }
}
