<div class="content home">
  <div class="item item-body">
    <div class="row">
      <div class="col col-20"></div>
      <div class="col col-60">
        <img class="full-image" ng-src="{{profile.profileInfo.avatar_url}}">
      </div>
      <div class="col col-20"></div>
    </div>
    <h2>{{profile.profileInfo.name}}</h2>
  </div>
    <div class="row">
      <a class="col card-info" ui-sref="app.home.followers">
        <strong>{{profile.profileInfo.followers}}</strong>
        <span>Followers</span>
      </a>
      <a class="col card-info" ui-sref="app.home.starred">
        <strong>{{profile.profileInfo.starred}}</strong>
        <span>Starred</span>
      </a>
      <a class="col card-info" ui-sref="app.home.following">
        <strong>{{profile.profileInfo.following}}</strong>
        <span>Following</span>
      </a>
      <a class="col card-info" ui-sref="app.home.repos">
        <strong>{{profile.profileInfo.public_repos}}</strong>
        <span>Repositories</span>
      </a>
    </div>
    <button class="button button-positive button-block" ng-click="profile.logout()">
        Logout
    </button>
</div>
