<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Members<span *ngIf="user && user !== 'user'"> of {{user.substr(5)}}</span></ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="loading" (click)="refreshMembers()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #membersContent class="members-page">
  <div text-center margin-top *ngIf="members.length <= 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Members
    </div>
  </div>
  <ion-list *ngIf="members.length > 0">
    <button ion-item
      (click)="openUser(user)"
      class="notification"
      *ngFor="let user of members"
    >
      <ion-avatar item-left>
        <img [src]="'https://avatars.githubusercontent.com/u/' + user.id + '?s=50'">
      </ion-avatar>
      <h2>{{user.login}}</h2>
    </button>
  </ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
