<ion-header>
  <ion-searchbar
    showCancelButton="true"
    (ionCancel)="cancelSearch($event)"
    debounce="500"
    autocomplete="off"
    autocorrect="off"
    spellcheck="false"
    (ionInput)="getItems($event)"
    (ionClear)="clearItems($event)"
    [(ngModel)]="searchterm"
  ></ion-searchbar>
</ion-header>


<ion-content class="search-page">
  <ion-item-group *ngIf="repos">
    <ion-item-divider light>Repositories</ion-item-divider>
    <button ion-item (click)="openRepository(repo)" *ngFor="let repo of repos.items">
      <h2>{{repo.full_name}}</h2>
      <p>{{repo.description}}</p>
    </button>
  </ion-item-group>
  <ion-item-group *ngIf="users">
    <ion-item-divider light>Users</ion-item-divider>
    <button ion-item (click)="openUser(user)" *ngFor="let user of users.items">
      <ion-avatar item-left>
        <img [src]="'https://avatars.githubusercontent.com/u/' + user.id + '?s=50'">
      </ion-avatar>
      <h2>{{user.login}}</h2>
    </button>
  </ion-item-group>
  <ion-item-group *ngIf="issues">
    <ion-item-divider light>Issues</ion-item-divider>
    <button ion-item (click)="openIssue(issue)" *ngFor="let issue of issues.items">
      <h2>{{issue.title}}</h2>
      <p>{{issue.body}}</p>
      <h3 *ngIf="issue.repository_url">{{issue.repository_url.substr(issue.repository_url.indexOf('repos') + 6)}}</h3>
    </button>
  </ion-item-group>
  <ion-item-group *ngIf="codes">
    <ion-item-divider light>Codes</ion-item-divider>
    <button ion-item (click)="openCode(code)" *ngFor="let code of codes.items">
      <h2>{{code.repository.ful_name}}</h2>
      <p>{{code.name}}
    </button>
  </ion-item-group>
</ion-content>
