
  <div class="content padded-full">
    <form ng-submit="login.submit()">
      <div class="input-wrapper">
          <input class="with-label" type="text" id="username" ng-model="login.user.username">
          <label class="floating-label" for="username">Username</label>
      </div>
      <button ng-class="{primary : !login.state}" class="btn fit-parent padded-top padded-bottom">Login</button>
      <div ng-class="{active : login.state}" class="circle-progress">
        <div class="spinner"></div>
      </div>
    </form>
  </div>
