<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
    <ion-buttons end>
      <button [disabled]="loading" (click)="getNotifications($event)">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="notifications-page">
  <div text-center margin-top *ngIf="notifications.length <= 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Notifications
    </div>
  </div>
  <pre *ngIf="notifications.length > 0">
    {{notifications | json}}
  </pre>
</ion-content>
