// http://ionicframework.com/docs/v2/theming/


// Global CSS
// --------------------------------------------------
// Put CSS rules here that you want to apply globally.
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//
// App Shared Sass variables belong in app.variables.scss.

// Mixins
@mixin light-font() {
  font-weight: normal;
  color: #767676;
}

@mixin dark-font() {
  font-weight: bold;
  color: #555;
}

@mixin autohide-search() {
  transition-duration: .5s;
  transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
  transition-property: transform;
  transform: translate3d(0,0,0);
  position: fixed;
  z-index: 10;
  &.hidden {
    transform: translate3d(0 , -100%, 0);
  }
}

// Layout Scss

@import "../theme/globals/layout";
@import "../theme/fixes";


// Icon Styles
.octicon {
  display: block;
  &.green {
    color: #6cc644;
  }
  &.red {
    color: #bd2c00;
  }
  svg {
    width: 75%;
    height: 75%;
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
  }
}
