<ion-menu [content]="content">



  <ion-content>
    <ion-list>
      <ion-toolbar *ngIf="profileEnabled">
        <profile-info [nav]="nav"></profile-info>
      </ion-toolbar>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon
          *ngIf="p.type === 'octicon'"
          class="octicon"
          item-left
          [innerHTML]="octicon.get(p.icon)"
        ></ion-icon>
        <ion-icon item-left *ngIf="p.type === 'ionicon'" [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
