<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>News Feed</ion-title>
    <ion-buttons end>
      <button [disabled]="loading" (click)="getEvents($event)">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="home-page">
  <div text-center margin-top *ngIf="events.length <= 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Events
    </div>
  </div>
  <ion-list *ngIf="events.length > 0">
    <ion-card class="event" *ngFor="let event of events" (click)="openEvent(event)">
      <ion-card-header class="sound-click">
        {{event.text}}
      </ion-card-header>
    </ion-card>
  </ion-list>

   <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
     <ion-infinite-scroll-content></ion-infinite-scroll-content>
   </ion-infinite-scroll>
</ion-content>
