<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="user">{{user.login}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="loading" (click)="getUserInfo()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="user-page">
  <div text-center margin-top *ngIf="!user">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      Error Fetching Profile
    </div>
  </div>
  <div margin *ngIf="user">
    <div class="user-image" *ngIf="user.id">
      <img *ngIf="!imageLoaded" [src]="user.avatarURL.split('?')[0] +'?s=50'"/>
      <img [class.hidden]="!imageLoaded" (load)="imageLoaded = true" [src]="user.avatarURL.split('?')[0] +'?s=400'"/>
    </div>
    <div class="user-title">
      <h4>{{user.name}}</h4>
      <p>{{user.login}}</p>
    </div>
    <div class="user-tags">
      <div *ngIf="user.location" class="user-tag">
        <ion-icon name="pin"></ion-icon>
        <span>{{user.location}}</span>
      </div>
      <div *ngIf="user.email" class="user-tag">
        <ion-icon name="mail"></ion-icon>
        <span><a (click)="browser.open('mailto:' + user.email)">{{user.email}}</a></span>
      </div>
      <div *ngIf="user.websiteURL" class="user-tag">
        <ion-icon name="link"></ion-icon>
        <span><a (click)="browser.open(user.websiteURL)">{{user.websiteURL}}</a></span>
      </div>
    </div>
    <div *ngIf="user.viewerCanFollow" margin class="follow-button">
      <button ion-button *ngIf="!user.viewerIsFollowing" full light round [disabled]="followingLoading" (click)="followUser()">
        Follow
      </button>
      <button ion-button *ngIf="user.viewerIsFollowing" full light round [disabled]="followingLoading" (click)="unFollowUser()">
        UnFollow
      </button>
    </div>
    <div *ngIf="user.bio" class="user-bio">
      {{user.bio}}
    </div>

    <div class="user-icons layout flex row center wrap">
      <div *ngIf="user.followers" class="user-icon user-followers layout flex column" (click)="openFollowersPage()">
        <div class="count">{{user.followers.totalCount}}</div>
        <div class="icon-name">Followers</div>
      </div>
      <div *ngIf="user.following" class="user-icon user-followers layout flex column" (click)="openFollowingPage()">
        <div class="count">{{user.following.totalCount}}</div>
        <div class="icon-name">Following</div>
      </div>
      <div *ngIf="user.repositories" class="user-icon user-followers layout flex column" (click)="openReposPage()">
        <div class="count">{{user.repositories.totalCount}}</div>
        <div class="icon-name">Repositories</div>
      </div>
      <div *ngIf="user.starredRepositories" class="user-icon user-followers layout flex column" (click)="openStarredPage()">
        <div class="count">{{user.starredRepositories.totalCount}}</div>
        <div class="icon-name">Starred</div>
      </div>
      <div *ngIf="user.watching" class="user-icon user-followers layout flex column" (click)="openWatchingPage()">
        <div class="count">{{user.watching.totalCount}}</div>
        <div class="icon-name">Watching</div>
      </div>
      <div *ngIf="user.members" class="user-icon user-followers layout flex column" (click)="openMembersPage()">
        <div class="count">{{user.members.totalCount}}</div>
        <div class="icon-name">Members</div>
      </div>
    </div>

    <div *ngIf="user.organizations && user.organizations.edges.length > 0" class="user-orgs" padding-horizontal>
      <h4>Organizations</h4>
      <div class="layout flex wrap row start">
        <div class="org-image" *ngFor="let org of user.organizations.edges" margin (click)="openUser(org.node)">
          <ion-img [src]="org.node.avatarURL.split('?')[0] + '?s=40'"></ion-img>
        </div>
      </div>
    </div>
  </div>
</ion-content>
