<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="repo">
      <span *ngIf="repo.owner">{{repo.owner.login}}</span>/
      {{repo.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="loading" (click)="getRepoInfo()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="repo-page">
  <div text-center margin-top *ngIf="!repo">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      Error Fetching Repository
    </div>
  </div>
  <div *ngIf="repo">
    <ion-card *ngIf="repo.isFork" class="buttons">
      <ion-card-content text-center *ngIf="repo.parent">
        Forked from <a (click)="openRepo(repo.parent)">
          <span *ngIf="repo.parent.owner">{{repo.parent.owner.login}}</span>
          {{repo.parent.name}}
        </a>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="filehttp.user" class="buttons">
      <ion-card-content class="layout flex around">
        <div>
          <button ion-button clear [disabled]="watchingLoading" *ngIf="repo.viewerSubscription !== 'UNSUBSCRIBED'" (click)="unWatchRepo(repo)">
            Unwatch
          </button>
          <button ion-button outline [disabled]="watchingLoading" *ngIf="repo.viewerSubscription === 'UNSUBSCRIBED'" (click)="watchRepo(repo)">
            Watch
          </button>
        </div>
        <div>
          <button ion-button clear [disabled]="starringLoading" *ngIf="repo.viewerHasStarred" (click)="unStarRepo(repo)">
            Unstar
          </button>
          <button ion-button outline [disabled]="starringLoading" *ngIf="!repo.viewerHasStarred" (click)="starRepo(repo)">
            Star
          </button>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="repo.owner">
      <ion-card-header>
        <a (click)="openUser(repo.owner)" *ngIf="repo.owner">{{repo.owner.login}}</a>
        /
        <span>{{repo.name}}</span>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="repo.descriptionHTML" [innerHTML]="repo.descriptionHTML"></p>
        <p *ngIf="repo.homepageURL">
          <a (click)="browser.open(repo.homepageURL)">{{repo.homepageURL}}</a>
        </p>
      </ion-card-content>
    </ion-card>
    <div margin>
      <button
        ion-button
        full
        margin-bottom
        (click)="openCode()"
      >View Code</button>
      <button ion-button full (click)="openCommits()">View Commits</button>
    </div>
    <ion-card *ngIf="repo">
      <ion-card-content class="icons-ion-card-content">
        <div class="user-icons layout flex row around wrap">
          <div *ngIf="repo.issues" class="user-icon layout flex column" (click)="openIssuesPage()">
            <div *ngIf="repo.issues" class="count">{{repo.issues.totalCount - repo.pullRequests.totalCount}}</div>
            <div class="icon-name">Issues</div>
          </div>
          <div *ngIf="repo.stargazers" class="user-icon layout flex column" (click)="openStargazersPage()">
            <div class="count">{{repo.stargazers.totalCount}}</div>
            <div class="icon-name">Stargazers</div>
          </div>
          <div *ngIf="repo.forks" class="user-icon layout flex column" (click)="openForksPage()">
            <div class="count">{{repo.forks.totalCount}}</div>
            <div class="icon-name">Forks</div>
          </div>
          <div class="user-icon layout flex column" (click)="openBranchesPage()">
            <div class="count">{{branches}}</div>
            <div class="icon-name">Branches</div>
          </div>
          <div *ngIf="repo.pullRequests" class="user-icon layout flex column" (click)="openPullsPage()">
            <div class="count">{{repo.pullRequests.totalCount}}</div>
            <div class="icon-name">Pulls</div>
          </div>
          <div class="user-icon layout flex column" (click)="openCommits()">
            <div class="count">{{commits}}</div>
            <div class="icon-name">Commits</div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="readme">
      <ion-card-header>README</ion-card-header>
      <ion-card-content [innerHTML]="readme"></ion-card-content>
    </ion-card>
    <ion-card *ngIf="readmeError">
      <ion-card-header>No Readme Found</ion-card-header>
    </ion-card>
  </div>
</ion-content>
