<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="loading" (click)="refreshNotifications()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #notificationsContent class="notifications-page">
  <div text-center margin-top *ngIf="notifications.length == 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Notifications
    </div>
  </div>
  <ion-refresher *ngIf="notifications.length > 0" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="notifications.length > 0">
    <ion-item-group *ngFor="let notificationInfo of notifications">
      <ion-item-divider light>
        <span (click)="openRepo(notificationInfo)">{{notificationInfo.repository}}</span>
        <button
          color="dark"
          clear
          item-right
          ion-button
          icon-only
          (click)="markRepoRead(notificationInfo)">
          <ion-icon
            name="checkmark"></ion-icon>
        </button>
      </ion-item-divider>
      <ion-item
        [class.disabled]="!notification.unread"
        *ngFor="let notification of notificationInfo.notifications">
        <span (click)="openNotification(notification)">{{notification.subject.title}}</span>
        <button
          color="dark"
          clear
          item-right
          ion-button
          icon-only
          (click)="markRead(notification)"
          [disabled]="!notification.unread">
          <ion-icon
            name="checkmark"></ion-icon>
        </button>
      </ion-item>
      <button
        ion-item
        (click)="loadPartialMore(notificationInfo)"
        text-center
        *ngIf="notificationInfo.more"
      >{{notificationInfo.more}} more notifications for {{notificationInfo.repository}}</button>
    </ion-item-group>
    <button
      (click)="loadMore()"
      ion-item
      text-center
      *ngIf="more"
    >{{more}} more notifications</button>
  </ion-list>
</ion-content>
