<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="loading" (click)="refreshNotifications()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #notificationsContent class="notifications-page">
  <div text-center margin-top *ngIf="notifications.length <= 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Notifications
    </div>
  </div>
  <ion-list *ngIf="notifications.length > 0">
    <ion-card class="notification" *ngFor="let notification of notifications">
      <ion-card-header class="sound-click" (click)="openRepository(notification)">
        {{notification.repository.full_name}}
      </ion-card-header>
      <ion-card-content class="sound-click" (click)="openNotification(notification)">
        {{notification.subject.title}}
      </ion-card-content>
    </ion-card>
  </ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
