.icon-search:before {
  content: url('../lib/icons/ic_search_white_24px.svg');
}

.header-bar.red {
  background-color: #F44336;
}

.ellipsis:after {
  content:'...';
}
.icon img {
  width: 100%;
  height: 100%;
}

.list li .title {
  line-height: 20px;
  max-width: 210px;
  white-space: normal;
}

.reload-progress {
  position: fixed;
  top: 58px;
}

.reload-progress.active .spinner {
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 20%;
}
