<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Github Blog</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="loading" (click)="refreshBlogs()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="blogs-page">
  <div text-center margin-top *ngIf="!blogs || blogs.length <= 0">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Blogs
    </div>
  </div>
  <div *ngIf="blogs">
    <ion-list *ngIf="blogs.length > 0">
      <button ion-item (click)="openBlog(blog)" *ngFor="let blog of blogs">
        <ion-thumbnail item-left *ngIf="blog.thumbnail">
          <img [src]="blog.thumbnail._url">
        </ion-thumbnail>
        <h2 class="layout-notoverflow">{{blog.title}}</h2>
        <p>
          <span *ngIf="blog.author">by {{blog.author.name}}</span>
          <span *ngIf="blog.updated">{{timeFromNow(blog.updated)}}</span>
        </p>
      </button>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div *ngIf="blogs.length < 0">
      No Blogs
    </div>
  </div>
</ion-content>
