<ion-header>

  <ion-navbar>
    <ion-title>Releases | {{repo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="releases">
    <ion-card *ngFor="let release of releases">
      <ion-card-header>
        {{release.name}}
      </ion-card-header>
      <ion-card-content *ngIf="release.body_html" [innerHTML]="release.body_html"></ion-card-content>
    </ion-card>

    <ion-card *ngIf="releases.length <= 0">
      No Releases
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
