<ion-header>

  <ion-navbar>
    <ion-title>Releases | {{username}}/{{reponame}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="releases">
    <ion-card *ngFor="let release of releases">
      <ion-card-header>
        <h2 *ngIf="release.name">
          <a (click)="openRelease(release)">{{release.name}}</a>
        </h2>
        <p>
          <a *ngIf="release.author" (click)="openUser(release.author)">{{release.author.login}}</a>
          released this
          <span *ngIf="release.published_at">{{timeFromNow(release.published_at)}}</span>
        </p>
      </ion-card-header>
      <ion-card-content *ngIf="release.body_html" [innerHTML]="release.body_html"></ion-card-content>
    </ion-card>

    <ion-card text-center padding *ngIf="releases.length <= 0">
      No Releases
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
