<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Issue <span *ngIf="issue"># {{issue.number}}</span></ion-title>
    <ion-buttons end>
      <button [disabled]="loading" (click)="getIssue($event)">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="issue-page">
  <div text-center margin-top *ngIf="!issue">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Issues
    </div>
  </div>
  <div *ngIf="issue" class="card">
    <div margin>
      <h2 class="sound-click layout flex between">
        {{issue.title}}
      </h2>
      <p class="sound-click">
        {{issue.user.login}} opened this issue {{timeFromNow(issue.created_at)}}
      </p>
    </div>
    <ion-card *ngIf="issue.body">
      <ion-card-header>
        {{issue.user.login}} commented {{timeFromNow(issue.created_at)}}
      </ion-card-header>
      <ion-card-content>
        {{issue.body}}
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="comments">
    <div *ngIf="comments.length > 0">
      <ion-card *ngFor="let comment of comments">
        <ion-card-header>
          {{comment.user.login}} commented {{timeFromNow(comment.created_at)}}
        </ion-card-header>
        <ion-card-content>
          {{comment.body}}
        </ion-card-content>
      </ion-card>
    </div>
    <ion-card *ngIf="comments.length === 0 && !issue.body">
      No Comments
    </ion-card>
  </div>
</ion-content>
