<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="commit && commit.commit">{{commit.head}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="loading" (click)="getCommit()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="commit-page">
  <div text-center margin-top *ngIf="!commit">
    <div *ngIf="loading">
      Loading...
    </div>
    <div *ngIf="!loading">
      No Commits
    </div>
  </div>
  <div *ngIf="commit" class="card">
    <div margin *ngIf="commit.commit">
      <h2 class="sound-click layout flex between">
        {{commit.head}}
      </h2>
      <p class="sound-click">
        {{commit.body}}
      </p>
    </div>
    <ion-item>
      <ion-avatar item-left *ngIf="commit.author">
        <img [src]="'https://avatars.githubusercontent.com/u/' + commit.author.id + '?s=50'">
      </ion-avatar>
      <p class="layout-notoverflow">
        <span *ngIf="commit.author">{{commit.author.login}}</span>
        <span *ngIf="commit.commit.author && !commit.author">{{commit.commit.author.name}}</span>
        commited
        <span>{{timeFromNow(commit.commit.author.date)}}</span>
        <span>on {{getDate(commit.commit.author.date)}}</span>
      </p>
    </ion-item>
    <p margin-horizontal *ngIf="commit.stats">
      Showing {{commit.stats.total}} changed file with {{commit.stats.additions}} additions and {{commit.stats.deletions}} deletions.
    </p>
  </div>
  <div *ngIf="files">
    <div *ngIf="files.length > 0">
      <ion-card class="file" *ngFor="let file of files">
        <ion-card-header>
          {{file.filename}}
        </ion-card-header>
        <ion-card-content>
          <pre><div
                  [ngClass]="line.class"
                  *ngFor="let line of file.lines"
                >{{line.content}}</div></pre>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-card *ngIf="files.length === 0">
      <ion-card-content>
        No Files
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="comments">
    <div *ngIf="comments.length > 0">
      <ion-card *ngFor="let comment of comments">
        <ion-card-header>
          {{comment.user.login}} commented {{timeFromNow(comment.created_at)}}
        </ion-card-header>
        <ion-card-content [innerHTML]="comment.body_html"></ion-card-content>
      </ion-card>
    </div>
    <ion-card *ngIf="comments.length === 0">
      <ion-card-content>
        No Comments
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
