<div class="logout-button" (click)="logout()" *ngIf="user">
  <ion-icon name="log-out"></ion-icon>
</div>

<div (click)="goToProfile()" class="profile-info layout flex row start" *ngIf="user">
  <div class="profile-image-wrapper layout flex column center" *ngIf="user.id">
    <div class="profile-image-background"
    [style.background-image]="'url(https://avatars.githubusercontent.com/u/' + user.id +'?s=50)'">    </div>
  </div>
  <div class="profile-info-text layout flex column center">
    <div class="profile-name">
      {{user.name}}
    </div>
    <div class="profile-karma">
      {{user.email}}
    </div>
    <div class="profile-karma">
      @{{user.login}}
    </div>
  </div>
</div>
